fastapi==0.115.12
uvicorn==0.34.0
yfinance==0.2.54
feedparser==6.0.10
legacy-cgi==2.6.2
requests==2.31.0
apscheduler==3.10.3
pydantic==2.11.1
pydantic-settings==2.8.1
playwright==1.50.0
playwright-stealth==1.0.6
beautifulsoup4==4.13.3
cachetools==5.5.2
slowapi==0.1.9
cloudscraper==1.2.71
python-dotenv==1.0.1
lxml==5.3.1
reverse_geocoder==1.5.1
sgp4==2.23
geopy==2.4.1
pytz==2024.2
pystac-client==0.8.6
